<% include parts/header %>

<div class='container' style="margin-top: 5px;">

			<div class="jumbotron">
			  <h1 class="display-4">SUN</h1>
			  <p class="lead">The star at the center of the solar system</p>
			  <hr class="my-4">
			  <p>The ancient Sumerians believed that the sun was Utu, the god of justice and twin brother of Inanna, the Queen of Heaven</p>
			  <a class="btn btn-primary btn-lg" href="/suns" role="button">Let's Start</a>
			</div>
</div>

<!--   NOTE QUICK  --->
<div class='container'>
	<div class='row'>
		<div class='col-6'>
			<img class=' max-auto rounded img-fluid' alt="Responsive Image" src="https://cdn.pixabay.com/photo/2016/11/29/04/19/beach-1867285_1280.jpg">
		</div>
		<div class='col-6'>
			<p style="margin: auto;" class='text-center text-monospace text-dark'>The Sun has been an object of veneration in many cultures throughout human history. Humanity's most fundamental understanding of the Sun is as the luminous disk in the sky, whose presence above the horizon creates day and whose absence causes night. In many prehistoric and ancient cultures, the Sun was thought to be a solar deity or other supernatural entity. </p>
		</div>




	</div>
</div>


<% include parts/footer %>